* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    margin: 20px;
    height: 35%;
    border-radius: 20px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(219, 12%, 27%);
    width: 13%;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
}

h2 {
    color: #fff;
    margin: 10px;
}

p {
    color: hsl(217, 12%, 63%);
    margin: 10px;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.rating button {
    padding: 15px;
    background-color: hsl(219, 12%, 27%);
    border: none;
    border-radius: 50%;
    width: 13%;
    color: hsl(217, 12%, 63%);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.rating button:hover {
    color: #fff;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    /* transition: ease-in-out 1s; */
}

.rating button:active {
    color: #fff;
    background-color:  hsl(216, 12%, 54%);
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-btn button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin: 10px;
    color: #fff;
    font-size: 15px;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.submit-btn button:hover {
    color: hsl(25, 97%, 53%);
    background-color: #fff;
}

.second {
    align-items: center;
    text-align: center;
}

.selected {
    padding: 5px 15px;
    margin: 0 70px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(219, 12%, 27%);
    border-radius: 20px;
}



.first, .second {
    display: none;
}

.active {
    display: block;
}
.attribution {
    color: hsl(216, 12%, 54%);
}
.attribution a{
    color: hsl(25, 97%, 53%);
    text-decoration: none;
}

